@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");

html {
  scroll-behavior: smooth;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hanken Grotesk", serif;
}

body {
  background-color: #0f0f0f;
  color: #efece6;
}

a {
  color: #efece6;
  text-decoration: none;
}

button {
  cursor: pointer;
  transition: all 0.3s;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px 7%;
  position: sticky;
  top: 0;
  background-color: #0f0f0f2f;
  z-index: 100;
  /* border: 3px solid red; */
}

#navbar .logo {
  margin-right: 50px;
}

.logo {
  width: 96px;
}

.logo img {
  max-width: 100%;
}

#navbar ul {
  display: flex;
  gap: 48px;
}

#navbar ul li {
  list-style: none;
}

#navbar ul li a {
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: capitalize;
  transition: all 0.3s;
}

#navbar ul li a:hover {
  color: #a1f25b;
}

#navbar ul li a i {
  vertical-align: bottom;
  font-weight: normal;
  margin-left: 2px;
}

#nav-btn {
  padding: 16px 28px;
  font-size: 1.25rem;
  font-weight: 600;
  color: #0f0f0f;
  border: none;
  text-transform: capitalize;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s;
}

#nav-btn:hover,
#hero-buttons button:hover,
#learn-more-btn:hover,
#software-content button:hover,
.card button:hover,
#contact-buttons button:hover {
  background-color: #cb5cff !important;
  color: #efece6;
}

#navbar > i {
  font-size: 32px;
  color: #efece6;
  display: none;
}

@media screen and (max-width: 1200px) {
  #navbar .logo {
    margin: 0;
  }

  #navbar ul {
    gap: 20px;
  }
}

@media screen and (max-width: 1024px) {
  #navbar ul,
  #navbar button {
    display: none;
  }

  #navbar i {
    display: inline;
  }
}

/* Hero Section */
#hero-layout {
  /* border: 3px solid blue; */
  min-height: 100vh;
  padding: 28px 7%;
  display: flex;
  align-items: start;
  gap: 80px;
  overflow: hidden;
}

#hero-layout #hero-content {
  /* border: 4px solid blue; */
  /* width: 46%; */
  overflow: hidden;
  /* margin-right: 72px; */
}

#hero-content #hero-heading h1 {
  font-size: 10rem;
  text-transform: uppercase;
  font-weight: 900;
  font-family: Zuume;
  letter-spacing: 4px;
  margin: -32px 0 -44px;
  background-color: #0e0e0e;
  background-image: url(https://i.giphy.com/HkEDr0jVekaZO.webp);
  background-size: cover;
  background-position: center;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
/* 
#hero-content #heading h1::before{
    content: "";
    width: 100%;
    height: 100%;
    position: relative;
    background-color: red;
} */

#hero-content p {
  color: #969490;
  font-size: 24px;
  margin-top: 80px;
  margin-bottom: 50px;
  font-weight: 500;
  line-height: 1.6;
  width: 568px;
}

#hero-buttons {
  display: flex;
  gap: 20px;
}

#hero-buttons button {
  padding: 20px 28px;
  font-size: 24px;
  color: #0f0f0f;
  font-weight: 600;
  border: none;
  border-radius: 20px;
  transition: all 0.3s;
}

#btn-one {
  flex: 0.4;
  display: flex;
  gap: 8px;
  /* align-items: center; */
  text-transform: capitalize;
  background-color: #a9ff5c;
}

#btn-two {
  flex: 0.6;
}

#hero-video {
  /* border: 4px solid green; */
  position: relative;
  /* left: 30%; */
  width: 40%;
  margin-top: -52px;
  /* display: inline; */
}

/* Why Us Section */
#why-us {
  /* border: 3px solid purple; */
  min-height: 100vh;
  padding: 240px 7% 0;
  display: flex;
  /* border: 4px solid red; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#why-us-heading {
  /* border: 4px solid red; */
  position: relative;
  text-align: center;
  width: 65%;
}

#why-us-heading h2 {
  font-size: 150px;
  font-family: zuume;
  line-height: 0.8;
  font-weight: 900;
  letter-spacing: 3px;
  position: relative;
  z-index: 20;
}

.avatar {
  width: 124px;
  height: 124px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  z-index: 10;
}

#avatar-one {
  background-color: #ffaf5c;
  top: -104px;
  left: 50%;
  transform: translate(-50%);
  background-image: url(https://familyindustrieslive.com/wp-content/uploads/2023/04/AboutUs7.png);
  background-position: center;
  background-size: cover;
}

#avatar-two {
  background-color: #cb5cff;
  top: 0;
  right: -68px;
  background-image: url(https://familyindustrieslive.com/wp-content/uploads/2023/04/AboutUs4.png);
  background-position: center;
  background-size: cover;
}

#avatar-three {
  background-color: #ffe95c;
  left: -32px;
  bottom: -18px;
  background-image: url(https://familyindustrieslive.com/wp-content/uploads/2023/04/AboutUs3.png);
  background-position: center;
  background-size: cover;
}

#avatar-four {
  background-color: #ff5c7d;
  bottom: -380px;
  right: 116px;
  background-image: url(https://familyindustrieslive.com/wp-content/uploads/2023/04/AboutUs4.png);
  background-position: center;
  background-size: cover;
}

#why-us p {
  font-size: 24px;
  margin: 40px 0 50px;
  color: #efece699;
  /* border: 4px solid green; */
  text-align: center;
  width: 52%;
  line-height: 1.5;
}

#why-us button {
  padding: 20px 24px;
  font-size: 24px;
  color: #0f0f0f;
  font-weight: 600;
  border: none;
  border-radius: 24px;
  text-transform: capitalize;
  width: 200px;
  transition: all 0.3s;
  cursor: pointer;
}

/* Marquee Logos Section */
#marquee-layout {
  /* border: 3px solid limegreen; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 68px;
  padding: 172px 0 0;
  justify-content: center;
  overflow: hidden;
}

#logos-slider {
  white-space: nowrap;
}

#images-container {
  display: inline-block;
  animation: scroll-left 30s linear infinite;
}

#images-container img {
  margin: 0 40px;
  filter: invert(68%) sepia(4%) saturate(256%) hue-rotate(2deg) brightness(86%)
    contrast(87%);
  /* #969490 */
}

#our-work-slider {
  white-space: nowrap;
  /* transform: translateX(100%); */
  /* transform: translate(0); */
  /* animation: scroll-right 10s linear infinite; */
}

#work-container {
  display: inline-block;
}

#our-work-slider .work {
  display: inline-block;
  height: 300px;
  background-color: #969490;
  margin-right: 24px;
  overflow: hidden;
}

#our-work-slider .work img {
  max-width: 100%;
  display: block;
}

.square {
  width: 300px;
}

.door-shape {
  width: 300px;
  border-radius: 50% 50% 0 0;
}

.oval {
  width: 240px;
  border-radius: 41%;
}

#experience-section {
  padding: 148px 7% 52px;
  overflow: hidden;
  /* border: 3px solid pink; */
}

#experience-heading {
  overflow: hidden;
  /* border: 2px solid green; */
  padding-bottom: 20px;
  /* overflow-y: hidden; */
  margin-bottom: 92px;
}

#experience-heading h2 {
  font-size: 236px;
  font-family: zuume;
  margin: -48px 0 -72px;
  font-weight: 900;
  letter-spacing: 4.5px;
}

#experience-section h2:first-child {
  color: transparent;
  -webkit-text-stroke: 2px #95938f;
}

#experience-posters {
  display: flex;
  gap: 100px;
}

#experience-posters .poster {
  position: relative;
  height: 100%;
}

.rotate-negative {
  transform: rotate(-4deg);
}

.rotate-positive {
  transform: rotate(4deg);
}

#experience-posters .poster img {
  width: 424px;
  height: 576px;
}

#experience-posters h3 {
  font-size: 120px;
  font-weight: 900;
  text-transform: uppercase;
  font-family: zuume;
  letter-spacing: 3px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  line-height: 0;
}

/* Our Software Section */
#software-section {
  /* border: 3px solid yellow; */
  min-height: 100vh;
  padding: 192px 7% 24px;
  display: flex;
  justify-content: space-between;
}

#software-content {
  width: 60%;
}

#software-content h3 {
  font-size: 120px;
  font-weight: 900;
  font-family: zuume;
  margin-bottom: -36px;
  letter-spacing: 3px;
}

#software-content p {
  margin: 40px 0;
  font-size: 24px;
  font-weight: 500;
  width: 80%;
  color: #efece699;
  line-height: 1.5;
}

.lime-text {
  color: #a1f25b;
}

.purple-text {
  color: #cb5cff;
}

.cyan-text {
  color: #7dfce3;
}

#software-video {
  width: 576px;
}

#software-video video {
  max-width: 100%;
  margin-left: 12px;
  margin-top: -16px;
}

#software-content button {
  padding: 24px 36px;
  font-size: 24px;
  color: #0f0f0f;
  font-weight: 600;
  border: none;
  border-radius: 24px;
  text-transform: capitalize;
  display: flex;
  gap: 12px;
  align-items: center;
  transition: all 0.3s;
}

button i {
  font: 24px;
  /* margin-bottom: -4px; */
}

/* Trending Section */
#trending-section {
  /* border: 3px solid blue; */
  min-height: 100vh;
  padding: 152px 7% 0;
}

#trending-heading {
  /* border: 3px solid red; */
  overflow: hidden;
  padding-bottom: 16px;
  margin-bottom: 96px;
}

#trending-heading h2 {
  font-size: 240px;
  font-weight: 900;
  font-family: zuume;
  margin-bottom: -72px;
  margin-top: -48px;
  letter-spacing: 4px;
}

#trending-heading h2:last-child {
  color: transparent;
  -webkit-text-stroke: 2px #efece6;
}

#trending-cards {
  display: flex;
  justify-content: space-between;
  /* border: 3px solid red; */
  width: 100%;
  /* background-color: red; */
}

#trending-cards .card {
  width: 33%;
  /* border: 3px solid green; */
  width: auto;
  flex: 0 1 auto;
}

.card-img {
  /* border: 3px solid orange; */
  width: 328px;
  height: 328px;
  object-position: right;
  border-radius: 30px;
  margin-bottom: 40px;
  overflow: hidden;
}

.card img {
  max-width: 100%;
}

.card-content {
  max-width: 330px;
  /* border: 3px solid yellow; */
}

.card .label {
  color: #efece699;
  margin-bottom: 20px;
}

.card h4 {
  font-size: 32px;
  font-weight: 400;
  line-height: 1.3;
}

.card p {
  margin: 20px 0 30px;
  color: #efece699;
}

.card button {
  padding: 16px 20px;
  color: #0f0f0f;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 16px;
  text-transform: capitalize;
  display: flex;
  gap: 12px;
  align-items: center;
}

/* Call to Action Section */
#call-to-action {
  padding: 180px 7% 0;
  /* border: 3px solid yellowgreen; */
  display: flex;
}

#call-to-action > div {
  width: 50%;
  height: 664px;
  position: relative;
}

#join-us-poster {
  z-index: 2;
  transform: rotate(-10deg);
}

#case-studies-poster {
  transform: rotate(10deg);
  margin-top: 60px;
}

#call-to-action > div img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

#call-to-action .poster-caption {
  color: #0f0f0f;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translate(0, -50%);
  font-size: 24px;
  font-weight: 700;
  padding: 16px 8px;
  display: flex;
  gap: 16px;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
}

#join-us-caption {
  background-color: #f9e95b;
  transform: rotate(-10deg);
}

#case-studies-caption {
  background-color: #7efcf2;
}

/* Footer Section */
footer {
  /* border: 3px solid cornflowerblue; */
  padding: 148px 7% 0;
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
}

footer #first-column {
  width: 30%;
}

footer #social-links {
  display: flex;
  gap: 12px;
  margin: 40px 0 30px;
}

.social-circle {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 1px solid #efece61a;
  display: grid;
  place-content: center;
}

.social-circle i {
  color: #efece6;
}

p#copyright {
  color: #efece699;
}

#links-column {
  /* width: 30%; */
  display: flex;
  gap: 40px;
}

.link .heading {
  font-size: 1.25rem;
  margin-bottom: 24px;
  font-weight: 600;
  text-transform: capitalize;
}

.link p {
  color: #efece699;
  margin-bottom: 16px;
  text-transform: capitalize;
  width: 116px;
}

#contact-column {
  /* flex: 1; */
  display: flex;
  align-items: start;
  gap: 40px;
}

#contact-buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#contact-buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  padding: 16px 20px;
  color: #0f0f0f;
  font-weight: 600;
  border: none;
  border-radius: 16px;
  text-transform: capitalize;
}

#contact-buttons button:first-child {
  background-color: #a8fd5d;
}

/* Animations */
@keyframes scroll-left {
  to {
    transform: translateX(-100%);
  }
}

@keyframes scroll-right {
  from {
    transform: translateX(-135%);
  }
  to {
    transform: translateX(100%);
  }
}

/* 
320px — 480px: Mobile devices.
481px — 768px: iPads, Tablets.
769px — 1024px: Small screens, laptops.
1025px — 1200px: Desktops, large screens.
1201px and more — Extra large screens, TV. 
*/
